name: Verificação de Estilo (Lint)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x' 

    - name: Instalar Flake8
      # Instala o Flake8, que checa estilo e formatação
      run: pip install flake8

    - name: Rodar Flake8
      # Executa o Flake8 no seu código Python
      # O '--max-line-length=120' é opcional e ajusta a linha máxima
      run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
